*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "./componentes/contacto";
@import "./componentes/footer";
@import "./componentes/generales";
@import "./componentes/header";
@import "./componentes/index";
@import "./componentes/juegos";
@import "./componentes/nosotros";
@import "./componentes/variables";
@import "./componentes/walpapers";
























