@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none; 
    padding: 15px;
}
h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

p{
    font-size: 18px;
    padding: 10px;
}


@media screen and (max-width:768px){
    h1{
        font-size: 20px;
        
    }
    h2{
        font-size: 18px;
        
    }
    h3{
        font-size: 15px;
        
    }
    p{
        font-size: 15px;
        padding: 3px;
    }
    
}
